@charset 'utf-8';

$tablet: 650px !default;
$desktop: 1025px !default;
$widescreen: 1217px !default;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules//bulma/sass/utilities/initial-variables.sass';